<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TimeSheetAPI</title>
    <link href="/css/allstyle.css" rel="stylesheet" />
</head>
<body>
    <div class="container c1">
        <div id="textregcon">
            <h1>Авторизация</h1>
            <br/>
            <form id="loginForm" method="GET">
                <label for="login">Логин</label>
                <br/>
                <input type="text" id="login" name="login" placeholder="введите логин">
                <br/>
                <label for="pswd">Пароль</label>
                <br/>
                <input type="password" id="pswd" name="password" placeholder="введите пароль">
            </form>
            <div id="btnhldr1">
                <button id="sub">Войти</button>
            </div>
            <br/>
            <a asp-action="HP" class="btn btn-primary">Перейти на страницу 2</a>
        </div>
    </div>
    <script src = "/js/authpagescript.js"></script>
</body>
</html>
